// font-awesome
$fa-font-path = "../fonts"

// fonts
$body-font = Roboto, Arial, Verdana, sans-serif
$header-font = 'Lobster Two', Arial, Verdana, sans-serif

// colors
$white = #fff
$black = #000
$red = #f00
$red-light = lighten($red, 50%)
$red-lightest = lighten($red, 85%)
$gray = #ccc
$gray-light = #efefef
$gray-dark = #666
$gray-darker = #333
$gray-darkest = #171717
$gray-blue = #7E8AA2
$gray-blue-light = lighten($gray-blue, 80%)

// layout widths
$width-s = 768px
$width-xs = 500px